.env
baitap-submit/le-buu/09-mini-rag/chatbot-ask-v2
baitap-submit/le-buu/09-mini-rag/chatbot-ask-v3.py
baitap-submit/le-buu/09-mini-rag/chatbot-ask-v2.py
workshop-mcp-slides.pdf
baitap-submit/le-buu/10-weavite-ui/book.py
04-weavite-rag.py